.container {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25px;
    height: 600px;
    text-align: center;
}

#title {
    font-weight: bolder;
}

#devouredList {
  height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  color: black;
}

.addBurger {
  text-align: center;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.burgerContainer {
  flex: auto;
  flex-direction: column;
  align-items: center;

}

h2 {
    font: bold;
}