.container {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 25px;
    height: 600px;
    text-align: center;
}

#title {
    font-weight: bolder;
}

#devouredList {
  height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  color: red;
}

.addBurger {
  text-align: center;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

.burgerContainer {
  flex: auto;
  flex-direction: column;
}

h2 {
    font: bold;
    text-decoration: underline;
}

button {
    border: 3px solid lightblue;
    border-radius: 5px;
    background-color: lightblue;
    color: black;
}